@font-face {
  font-family: "Pragmata Pro";
  src: url('./fonts/pragmata_pro_mono_regular-webfont.woff') format('woff'), url('./fonts/pragmata_pro_mono_regular-webfont.woff2') format('woff2');
}

:root {
  --green: hsl(126, 100%, 68%);
  --text-shadow: 0 0.2rem 1rem var(--green);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Pragmata Pro", monospace;
  text-transform: uppercase;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  min-height: 100vh;

  font-size: 1.6rem;
  line-height: 1.6;

  color: var(--green);
  background: #000;
}

main {
  margin: auto;
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.25;
}

h3 {
  font-size: 2rem;
  line-height: 1.5;
}

.u-mega-text {
  font-size: 9.6rem;
  -webkit-text-fill-color: black; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--green);
}

.u-bordered {
  border: 2px solid var(--green);
}

.u-bordered--no-bottom {
  border-bottom: none;
}

.u-grid {
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  align-content: center;
  grid-gap: 3.2rem;
  grid-template-areas: 
    "dino stats buttons"
    ;
}

header {
  text-align: center;
  padding: 4vmin;
}

.Dino {
  grid-area: dino;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.Dino__img {
  object-fit: cover;
  object-position: 50% 50%;
  vertical-align: middle;
}

.Stats {
  grid-area: stats;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1.6rem;
}

.Stat {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Stat__Label {
  text-align: center;
  align-self: center;
  font-size: 1.5vmax;
}

.Stat__Value {
  font-size: 5.8rem;
  text-align: center;
  align-self: center;
}

.Buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
}

.Buttons__Panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-gap: 1.6rem;
}

.Button {
  text-align: center;
  background: black;
  color: var(--green);  
  text-shadow: inherit; 
  cursor: pointer;
  font-family: "Pragmata Pro", monospace;
  text-transform: uppercase;
}

.Button--Small {
  padding: 1.6rem;
}

.Button--Active, .Button--Small:hover  {
  background: var(--green);
  color: #000;
}

.Button--Small.Button--Active:hover {
  opacity: 0.8;
}

.Button--Large {
  padding: 1.6rem 3.2rem;
  width: 100%;
  margin-top: 1.6rem;
  height: 100%;
}

.Button--Large h3 {
  font-size: 1.5vmax;
}

.Button--Large:active, .Button--Large:hover {
  background: red;
  color: white;
  border-color: red;
}

.Modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  grid-template-rows: 1fr 480px 1fr;
  grid-template-columns: 1fr 960px 1fr;
  background: rgba(0, 100, 0, 0.4);
}

.Modal__Inner {
  grid-column: 2 / 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

}

.Modal__Inner h1 {
  font-size: 9.6rem;
  margin-bottom: 0.25em;
  margin-top: -2.4rem;
}

.Modal__Cancel {
  position: absolute;
  bottom: 1.6rem;
  cursor: pointer;
}

.Modal--active {
  display: grid;
}

.Modal--alert .Modal {
  background: rbga(100, 0, 0, 0.4);
}

.Modal--alert .Modal__Inner {
  background: red;
  color: white;
}

.Modal--tts .Modal__Inner {
  background: rgba(0,0,0,0.9);
  color: var(--green);
}

.Modal--tts h2 {
  margin-bottom: 3.2rem;
}

.TTS-Form {
  text-align: center;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-areas: "input button";
  grid-gap: 2.4rem;
  width: 100%;
  padding: 0 6.4rem;
}

.TTS-Form input {
  background: black;
  color: var(--green);
  font-family: 'Pragmata Pro', monospace;
  text-transform: uppercase;
  font-size: 2.4rem;

  grid-area: input;
  padding: 2.4rem 1.6rem;
}

.TTS-Form input::placeholder {
  color: var(--green);
  opacity: 0.5;
  text-shadow: var(--text-shadow);
}

.TTS-Form input:focus {
  outline: thick double var(--green);
}


.TTS-Form button {
  grid-area: button;
  font-size: 2.4rem;
  padding: 2.4rem 3.2rem;
}




@import "./vintage.css";